.mainSection {
  background-image: url('/assets/images/La-fete-du-pain-2.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  width: 100%;
}
.fontFamily {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fontFamily:last-of-type {
  margin-bottom: 7em;
}
.blogForm > * {
  width: 100%;
}
textarea.mat-input-element {
  min-height: 300px;
}
.deletPost {
  color: rgb(230, 1, 1);
  text-align: right;
}
.deletPost:hover {
  cursor: pointer;
  text-decoration: underline;
}
.newsFew>p>a {
  color: #00001a;
  padding: 0.3em 0.5em;
}
.newsFew>p>a:hover {
  background-color: #00001a59;
  text-decoration: none;
}
.newsFew>p>a:active {
  box-shadow: 1px 1px 2px #00001a inset;
}
.newsFew>p>a:visited {
  color: #00001a9d;
  text-decoration: none;
}