<section class="mainSection" role="region">
  <app-menu-internal></app-menu-internal>
  <div class="glContainerPage">
    <div class="container">
      <div class="glSheetArticle fontFamily">
        <h1>News</h1>
        <hr>
        <div class="newsFew">
          <p>News from RFI and new podcasts every day :
            <a href="https://savoirs.rfi.fr/en/apprendre-enseigner/langue-francaise/journal-en-fran%C3%A7ais-facile"
              target="_blank">go to see</a></p>
          <p>Podcasts from 1jour1actu :
            <a href="https://soundcloud.com/1jour1actu" target="_blank">go to see</a></p>
          <p>News from France info and new videos every day :
            <a href="https://www.francetvinfo.fr%2Fimages%2Fvideos%2F&sa=D&sntz=1&usg=AFQjCNFB3B882GQdfg8c-L1x1nhfLgp6cg"
              target="_blank">go to see</a></p>
          <p>News about FFL and French in the world. The content is in french language.
            <a href="https://fle.fr/L-actualite-du-FLE-et-du-francais-dans-le-monde " target="blank">go to see</a></p>
        </div>
      </div>
      <div class="glSheetArticle fontFamily" *ngFor="let post of posts;">
        <h4>{{post.post.title}}</h4>
        <p>{{post.post.post}}</p>
        <div *ngIf="isAdmin">
          <hr>
          <p class="deletPost" (click)="deletePost($event, post.id)">Suprimer cette article</p>
        </div>
      </div>
      <div *ngIf="isAdmin" class="glSheetArticle fontFamily">
        <h2>New article ..</h2>
        <form class="blogForm" [formGroup]="newsForm" method="POST" role="form">
          <mat-form-field appearance="standard">
            <mat-label>Title of this post...</mat-label>
            <input matInput placeholder="Title" formControlName="title">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>My text I write here</mat-label>
            <textarea class="textBlogArticle" matInput placeholder="This history start..." formControlName="post"></textarea>
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="submit()">Publish it</button>
        </form>
      </div>
    </div>
  </div>
</section>