header {
  height: 50px;
  background-color: rgba(0, 0, 51, 0.8);
  z-index: 10;
  padding: 0 10%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
nav>ul {
  display: flex;
  padding: 1em 0 0;
	margin: 0;
	position: relative;
}
nav>ul>li {
  cursor: pointer;
  color: #fdc1c1;
  list-style-type: none;
}
nav>ul>li>a, .secondLevel>li>a {
  color: #fdc1c1;
  font-weight: 100;
  font-family: "Goudy Bookletter 1911", sans-serif;
  text-decoration: none;
  margin: 0.4em;
  padding: 0.2em 0.6em;
}
nav>ul>li>a.active {
  text-decoration: underline;
  color: white;
}
nav>ul>li>a:hover,
.secondLevel>li>a:hover {
  color: #fdc1c1;
	text-decoration: underline;
}
.forOnePage:hover .onePage {
  color: #fdc1c1;
  text-decoration: underline;
}
.linkontact {
  border: 1px solid #ffffff;
  border-radius: 2em;
}
.linkontact:hover {
  box-shadow: innset 1px 1px 3px #ffffff;
}
