/*
Some style come from global styleSheets file. styles.css like .sheetArticle class.
*/
.mainSection {
  background-image: url('/assets/images/Cooking-session-with-Gr-5.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fontFamily {
  font-family: 'American Typewriter', serif;
}
.fontFamily:last-of-type {
  margin-bottom: 7em;
}
.mat-tab-group {
  width: 70%;
  background-color: rgba(253, 253, 240, 0.8);
  border-radius: 2px;
  box-shadow: 3px 3px 4px #020202;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 2.5em auto;
  padding: 0.5em 2em 2em;
}
.culFacts,
.learStrat {
  width: 100%;
}
.culFacts>img,
.learStrat>img {
  display: block;
  width: 100%;
}
.culFacts {
  box-shadow: 4px 4px 16px rgba(0, 0, 51, 1) inset;
  margin-bottom: 1.8em;
  padding: 1px 0;
}
.culFacts>img {
  visibility: hidden;
}
.insetBox {
  margin: 2em;
  border: 2px solid aliceblue;
  background-image: url('/src/assets/resources/why-learn-french-4-1024.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.insetBox>img {
  display: block;
  width: 100%;
}
/*
Learning strategies pages
*/
.mediaItem {
  padding: 1em;
  border-bottom: 1px solid rgba(6, 11, 58, 0.602);
}
/*
Cultural facts session
*/
h4 {
  text-align: center;
  border-bottom: 1px solid azure;
}
.youtubeIframes {
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}
.youtubeIframes>li {
  /* background: rgb(250, 250, 250); */
  background-color: rgba(0, 0, 51, 0.8);
  padding: 0.1em 2em;
  display: inline-flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #020202;
  margin-bottom: 2em;
}
.youtubeIframes>li>p {
  text-align: left;
  color: aliceblue;
}
iframe {
  margin: auto;
  margin-bottom: 2em;
  border: 3px solid gray;
  border-radius: 3px;
}
/*
Learning stragegies tab
*/
.learningStrategies>li {
  /* background-color: rgba(0, 0, 51, 0.8); */
  background-color: aliceblue;
  /* color: aliceblue; */
  color: rgba(0, 0, 51, 0.8);
  padding: 0.1em 2em;
  border-radius: 15px;
  box-shadow: 2px 2px 6px #020202;
  margin-bottom: 2em;
  margin-right: 2em;
}
.titleOfParagraphe {
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.4em;
  padding: 0 0.3em 0.9em 0;
}
.paddingBtm {
  padding-bottom: 1.8em;
}