<section class="mainSection" role="region">
  <app-menu-internal></app-menu-internal>
  <div class="glContainerPage">
    <mat-tab-group>
      <div class="glSheetArticle fontFamily" id="howorks">
        <mat-tab label="Linguistical tools">
          <h3>Linguistical tools</h3>
          <p><a href="https://francais.lingolia.com/en/grammar" target="blank">Lingolia</a>
            Resources about french grammar.</p>
          <hr>
          <div class="mediaItem">
            <div class="learStrat">
              <img src="/src/assets/resources/Les batiments de la ville.png" alt="images about the buildings in the city">
            </div>
          </div>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Pictures & Sounds
                </mat-panel-title>
                <mat-panel-description>
                  "Heure - et demi"
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="mediaItem">
                <div class="learStrat">
                  <img src="/src/assets/resources/Heure - et demi.png" alt="images about times pronountiations">
                </div>
                <mat-divider></mat-divider>
                <figure>
                  <figcaption>Listen to the "Heure - et demi":</figcaption>
                  <audio controls src="/src/assets/resources/Heure - et demi.m4a">
                    Your browser does not support the
                    <code>audio</code> element.
                  </audio>
                </figure>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState1 = true" (closed)="panelOpenState1 = false">
              <mat-expansion-panel-header>
                <mat-panel-title>

                </mat-panel-title>
                <mat-panel-description>
                  "Commander au resto"
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="mediaItem">
                <div class="learStrat">
                  <img src="/src/assets/resources/Commander au resto.png" alt="images about restaurant commands">
                </div>
                <mat-divider></mat-divider>
                <figure>
                  <figcaption>Listen to the "Commander au resto":</figcaption>
                  <audio controls src="/src/assets/resources/Commander au resto.m4a">
                    Your browser does not support the
                    <code>audio</code> element.
                  </audio>
                </figure>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
              <mat-expansion-panel-header>
                <mat-panel-title>

                </mat-panel-title>
                <mat-panel-description>
                  "D'autres trajets pour aller à l'école"
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="mediaItem">
                <div class="learStrat">
                  <img src="/src/assets/resources/D_autres trajets pour aller à l_école.png" alt="D autres trajets pour aller à l école">
                </div>
                <mat-divider></mat-divider>
                <figure>
                  <figcaption>Listen to the "D'autres trajets pour aller à l'école":</figcaption>
                  <audio controls src="/src/assets/resources/D_autres trajets pour aller à l_école.m4a">
                    Your browser does not support the
                    <code>audio</code> element.
                  </audio>
                </figure>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState3 = true" (closed)="panelOpenState3 = false">
              <mat-expansion-panel-header>
                <mat-panel-title>

                </mat-panel-title>
                <mat-panel-description>
                  "Dire que tu ne comprends pas une direction"
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="mediaItem">
                <div class="learStrat">
                  <img src="/src/assets/resources/Dire que tu ne comprends pas une direction.png" alt="Dire que tu ne comprends pas une direction">
                </div>
                <mat-divider></mat-divider>
                <figure>
                  <figcaption>Listen to the "Dire que tu ne comprends pas une direction.":</figcaption>
                  <audio controls src="/src/assets/resources/Dire que tu ne comprends pas une direction.m4a">
                    Your browser does not support the
                    <code>audio</code> element.
                  </audio>
                </figure>
              </div>
            </mat-expansion-panel>


            <mat-expansion-panel (opened)="panelOpenState4 = true" (closed)="panelOpenState4 = false">
              <mat-expansion-panel-header>
                <mat-panel-title>

                </mat-panel-title>
                <mat-panel-description>
                  "Les directions"
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="mediaItem">
                <div class="learStrat">
                  <img src="/src/assets/resources/Les directions.png" alt="Les directions">
                </div>
                <mat-divider></mat-divider>
                <figure>
                  <figcaption>Listen to the "Les directions":</figcaption>
                  <audio controls src="/src/assets/resources/Les directions.m4a">
                    Your browser does not support the
                    <code>audio</code> element.
                  </audio>
                </figure>
              </div>
            </mat-expansion-panel>

            <mat-expansion-panel (opened)="panelOpenState5 = true" (closed)="panelOpenState5 = false">
              <mat-expansion-panel-header>
                <mat-panel-title>

                </mat-panel-title>
                <mat-panel-description>
                  "Les lieux de la ville"
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="mediaItem">
                <div class="learStrat">
                  <img src="/src/assets/resources/les lieux de la ville.png" alt="les lieux de la ville">
                </div>
                <mat-divider></mat-divider>
                <figure>
                  <figcaption>Listen to the "Les lieux de la ville":</figcaption>
                  <audio controls src="/src/assets/resources/les lieux de la ville.m4a">
                    Your browser does not support the
                    <code>audio</code> element.
                  </audio>
                </figure>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-tab>
        <mat-tab label="Cultural facts">
          <h3>Cultural facts</h3>
          <div class="whitePaper">
            <h4>Discover more about French Holidays</h4>
            <ol class="youtubeIframes">
              <li>
                <p>New Year's Day - Nouvel An :</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/H--snz0R64Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </li>
              <li>
                <p> Easter – Pâques :</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/iyPIwwZ7wLY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </li>
              <li>
                <p>National Holiday - Fête nationale francaise :</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/EqcbPTNNQkY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </li>
              <li>
                <p>Armistice</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/ACOdkpUdQNY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </li>
              <li>
                <p>Candlemas - Chandeleur</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/rQgU_v0JyCE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </li>
              <li>
                <p>Epiphany - Epiphanie</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/5F0RBVxK5mM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </li>
              <li>
                <p>Carnival - Mardi Gras</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/m8MSu3qVvcA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </li>
              <li>
                <p>Music day – Fête de la musique</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/23-aofg8_Ds" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </li>
              <li>
                <p>Heritage Day - Journées patrimoine</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/8omFQEXuyas" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </li>
              <li>
                <p>Beaujolais Nouveau</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/88N0OV0j6qs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </li>
              <li>
                <p>Labor day- Fête du travail</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/oMYwTBi8NEY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </li>
            </ol>
          </div>
          <div>
            <h4>Why learning French language ?</h4>
          </div>
          <div class="culFacts">
            <div class="insetBox">
              <img src="/src/assets/resources/why-learn-french-4-1024.jpg" alt="Citation d'Albert Camus Creer, c'est vivre deux fois.">
            </div>
          </div>
          <div class="culFacts">
            <div class="insetBox">
              <img src="/src/assets/resources/why-learn-french-6-1024.jpg" alt="image about science & media">
            </div>
          </div>
          <div class="culFacts">
            <div class="insetBox">
              <img src="/src/assets/resources/why-learn-french-7-1024.jpg" alt="image about intarnational relations">
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Learning strategies">
          <h3>Learning strategies</h3>
          <hr>
          <p><span class="titleOfParagraphe">Fact:</span>Foreign language learners have lots of problems with
            pronunciation because of some factors such as
            native language factor (mother tongue, interference),
            age, environment, personality, etc. affect their
            motivation in learning. Rivers (1986:125) urges that many
            beginners have a great difficulty in
            understanding what they are trying to say, not because
            of their lack of knowledge of vocabulary and
            language structure, but because the sounds they produce
            seemed peculiar and the voice rose and fell
            in unexpected places.</p>
          <ol class="learningStrategies">
            <li>
              <p><span class="titleOfParagraphe">The parrot approach</span>
                As with any language skill, practice is key.
                For pronunciation, the more focused listening and repetition a learner does,
                the more comfortable they become with the phonics and sound patterns of the language.
                Listen-and-repeat exercises can be done with any medium, from traditional language learning CDs to TV,
                movies, and song lyrics. Podcasts about language study or any other topic are especially helpful.
                Listening carefully to repeated phrases 5 to 10 times. Use audio and video to help you.
                Then, try saying the phrase correctly in chorus with the recording.
                Repeat each of the phrases 10 times or more if needed.</p>
              <p><span class="C">Here is a list of children songs that can be used</span> :</p>
                <ul>
                  <li><a href="https://www.youtube.com/watch?v=iE6MYCyE2-o">
                      L’ escargot sans chaussures
                    </a></li>
                  <li><a href="https://www.youtube.com/watch?v=HSJj2_Gs0xg">
                      Le petit vert de terre
                    </a></li>
                  <li><a href="https://www.youtube.com/watch?v=iDPT62PJvLY">
                      Une araignée sur le plancher
                    </a></li>
                  <li><a href="http://www.mamalisa.com/?t=es&p=1751">
                      Au clair de la lune 3 petit lapins
                    </a></li>
                  <li><a href="https://www.paroles.net/ https://www.paroles-musique.com/">
                      Many internet site could be more accurate according to your preferences
                    </a></li>
                </ul>
              <p>
                You can use the internet these sites : <a href="https://cueprompter.com
                https://www.bonjourdefrance.com/prononciateur/public/index.php/index.html">cueprompter.com</a>,
                to improve your diction, especially the speed and volume by choosing your own settings
                and the scrolling speed.
              </p>
            </li>
            <li>
              <p><span class="titleOfParagraphe">Mind the stress</span>
                The English language is one that stresses words (“BROC-co-li”; “trans-por-TA-tion”).
                It is the instinct of native English speakers to use
                our own framework of stress patterns when we learn new words.
                However, we can’t project our own assumptions about rhythm
                onto foreign language. Some languages have different
                stress patterns while many do not use stress at all.
                When learning the new vocabulary of a foreign language,
                it is important to be mindful of stress, or absence of stress,
                in new words. It helps neutralize our own
                British accent and start adopting the accent of your target language. 
              </p>
            </li>
            <li>
              <p><span class="titleOfParagraphe">Practice in context</span>
                To practice the pronunciation of a word or phrase, it’s best to review it on its own and in the context
                of a full sentence. The reason? Some word pairings will subtly alter pronunciation. Mastering these
                pairings is a key component in emulating a native accent. The English language is full of words
                whose pronunciation changes slightly with context, depending on the type of English accent.
                For example, the word “will” has a definitive "i" sound, but in the phrase “will you,” the "i"
                tends to become a "oo" as in “wool.”</p>
            </li>
            <li>
              <p><span class="titleOfParagraphe">Record yourself</span>
                After using all of these tools, students can record their speaking exercises and listen back.
                The mistakes learners make are often not conscious.
                They tend to be the product of those deep-seated patterns of our native tongue,
                such as stress and inflection. Listening to oneself is a good way to hone in on strengths and
                weaknesses.
                Most smartphones come with a built-in voice memo app,
                and websites like Audacity and Vocaroo let users make audio files for free.</p>
            </li>
            <li>
              <p><span class="titleOfParagraphe">Watch  TV or internet programs in that language</span>
                Briefly, Kenworthy (1987:6) mentions that exposure can be a contributory factor,
                but it cannot be a whole and necessary factor for the development of pronunciation.
                The best ways of being exposed would be native speakers, videos shows, films, cds,
                radio or TV programs, computer-assisted language teaching programs, and etc.
                Also, the amount of exposure is crucial
                and it must make the students creative and active, not passive and dull. </p>
            </li>
            <li>
              <p><span class="titleOfParagraphe">Here is a list of programms</span> :</p>
              <ul>
                <li>
                  <p><a href="https://apprendre.tv5monde.com/fr">TV5 monde</a>
                    : The exclusive "Teach and learn French with TV5 Monde"
                    teaching toolkit provides teachers of French
                    as a foreign language with an array of tools
                    tailored to CEFR levels that can be used in combination
                    with the channel’s programmes and online content.</p>
                </li>
                <li>
                  <p><a href="https://savoirs.rfi.fr/en">RFI</a>
                    : It teaches the French language with a team of French teaching specialists
                    and broadcast professionals.
                    RFI offers a variety of different activities and exercises for French learners.</p>
                </li>
                <li>
                  <p><a href="https://www.bonjourdefrance.com/">BONJOUR DE France</a>
                    : It teachers grammar and enrich vocabulary with
                    idiomatic expressions. It is very usefull when preparing for the DELF I</p>
                </li>
              </ul>
              <h4>Here is a larger list of magazines from French spoken countries all around the world :</h4>
              <ul class="paddingBtm">
                <li><a href="http://www.lemonde.fr">
                    Le Monde (FRANCE)
                  </a></li>
                <li><a href="http://www.lexpress.fr">
                    L'Express (FRANCE)
                  </a></li>
                <li><a href="http://www.lefigaro.fr">
                    Le Figaro (FRANCE)
                  </a></li>
                <li><a href="http://www.lequipe.fr">
                    L'ÉQUIPE (FRANCE)
                  </a></li>
                <li><a href="http://www.20minutes.fr">
                    20 MINUTES (FRANCE)
                  </a></li>
                <li><a href="http://lci.tf1.fr">
                    TF1 (FRANCE)
                  </a></li>
                <li><a href="France 2 (FRANCE)">
                    France 2 (FRANCE)
                  </a></li>
                <li><a href="http://www.france3.fr">
                    France 3 (FRANCE)
                  </a></li>
                <li><a href="http://www.liberation.fr">
                    LIBÉRATION (FRANCE)
                  </a></li>
                <li><a href="http://tempsreel.nouvelobs.com">
                    L'OBS (FRANCE)
                  </a></li>
                <li><a href="http://www.lecho.be">
                    L'ÉCHO (BELGIQUE)
                  </a></li>
                <li><a href="http://www.pressebelge.com">
                    PRESSE BELGE (BELGIQUE)
                  </a></li>
                <li><a href="http://www.lacote.ch">
                    La Côte (SUISSE)
                  </a></li>
                <li><a href="www.lematin.ch/home/5.html">
                    Le Matin (SUISSE)
                  </a></li>
                <li><a href="http://www.journaldemontreal.com">
                    Le Journal de Montréal (CANADA)
                  </a></li>
                <li><a href="http://www.ledevoir.com">
                    Le Devoir (CANADA)
                  </a></li>
                <li><a href="http://www.lapresse.ca/le-soleil">
                    Le Soleil (CANADA)
                  </a></li>
                <li><a href="http://www.liberte-algerie.com">
                    LIBERTÉ (ALGÉRIE)
                  </a></li>
                <li><a href="http://lematin.ma">
                    Le Matin (MAROC)
                  </a></li>
                <li><a href="http://www.aujourdhui.ma">
                    Aujourd'hui (MAROC)
                  </a></li>
                <li><a href="http://www.lapresse.tn">
                    La Presse (TUNISIE)
                  </a></li>
                <li><a href="http://www.letemps.com.tn">
                    Le Temps (TUNISIE)
                  </a></li>
                <li><a href="http://www.senepresse.com">
                    Les journaux du Sénégal
                  </a></li>
              </ul>
            </li>
            <li>
              <p>Find a friend or make a friend who is a native and have conversations with them 
                This is best for learning and after this is done you will become more familiar with the language and at
                least "high beginner to intermediate" level. Ask the tutor to help you with pronunciation and
                conversational grammar. Also, don't be ashamed to allow other people to correct you if you pronounce
                something wrong. No one knows everything. You can record the sessions if possible and take notes.
              </p>
            </li>
          </ol>
        </mat-tab>
      </div>
    </mat-tab-group>
  </div>
  <!-- <div class="glContainerPage">
    <div class="glSheetArticle fontFamily">
      <p><a href="https://francais.lingolia.com/en/grammar" target="blank">Lingolia</a>
        Resources about french grammar.</p>
    </div>
    <div class="glSheetArticle fontFamily">
      <p>In may whas happend Haec dum oriens diu perferret, caeli reserato tepore Constantius consulatu suo septies et Caesaris ter egressus Arelate Valentiam petit, in Gundomadum et Vadomarium fratres Alamannorum reges arma moturus, quorum crebris excursibus vastabantur confines limitibus terrae Gallorum.</p>
    </div>
    <div class="glSheetArticle fontFamily">
      <p>Iis igitur est difficilius satis facere, qui se Latina scripta dicunt contemnere.
        in quibus hoc primum est in quo admirer, cur in gravissimis rebus non delectet eos sermo patrius,
        cum idem fabellas Latinas ad verbum e Graecis expressas non inviti legant.
        Quis enim tam inimicus paene nomini Romano est, qui Ennii Medeam aut Antiopam Pacuvii spernat aut reiciat,
        quod se isdem Euripidis fabulis delectari dicat, Latinas litteras oderit?
      </p>
    </div>
  </div>-->
</section>