/*
Some style come from global styleSheets file. styles.css like .sheetArticle class.
*/
.mainSection {
  background-image: url('/assets/images/Cooking-session-with-Gr-5.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* .fontFamily {
  font-family: 'American Typewriter', serif;
} */
.fontFamily:last-of-type {
  margin-bottom: 7em;
}
.singlQuestion {
  border: 1px solid;
  background: wheat;
  padding: 0.8em 1.6em;
}
h2 {
  text-align: center;
  background: wheat;
  border-top: 1px solid #00001a;
  border-bottom: 1px solid #00001a;
}
.testForm {
  display: flex;
  flex-direction: column;
}
.ng-star-inserted {
  color: black;
}
