<section class="mainSection" role="region">
  <app-menu-internal></app-menu-internal>
  <div class="glContainerPage">
    <div class="glSheetArticle fontFamily">
      <div>
        <h2>French test</h2>
        <p>This test is a vocabulary test which will give me some clues about your level.</p>
        <p>This test is not an exam: it will allow us to offer you the most suitable course according to your level.</p>
        <p>It is important to take the test alone, without any help.<br>
          If you do not know an answer, leave a blank field.<br>
          Your oral skills will be precisely evaluated thanks to an oral conversation which we will plan later.<br>
          By these 2 ways, you will find out your level according to the European Framework of Reference for Languages.<br>
          At the end of the test, you will have the correction of your errors.<br>
          You will receive an invitation to know more about our courses by email.</p>
        <p>Thank you for participating!</p>
      </div>
      <form class="testForm" [formGroup]="formTest" method="post" role="form" aria-label="adhesion test">
        <h3>Complete the following expressions in English :</h3>
        <mat-form-field appearance="outline" id="question_01">
          <mat-label>s’engager</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_01">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_02">
            <mat-label>épouser</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_02">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_03">
            <mat-label>par hasard</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_03">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_04">
            <mat-label>faire la connaissance de</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_04">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_05">
          <mat-label>se fâcher contre</mat-label>
          <input matInput placeholder="your answer" type="text" formControlName="question_05">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_06">
            <mat-label>il se peut que</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_06">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_07">
            <mat-label>en avoir marre</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_07">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_08">
            <mat-label>de nouveau</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_08">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_09">
          <mat-label>manquer</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_09">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_10">
            <mat-label>être en train de</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_10">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_11">
            <mat-label>près de</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_11">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_12">
            <mat-label>éclater de rire</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_12">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_13">
          <mat-label>de cette façon</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_13">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_14">
            <mat-label>changer d’avis</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_14">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_15">
            <mat-label>cela n’importe</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_15">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_16">
            <mat-label>être dans son assiette</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_16">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_17">
          <mat-label>faire des châteaux en Espagne</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_17">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_18">
            <mat-label>et ainsi de suite</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_18">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_19">
            <mat-label>saisir</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_19">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_20">
            <mat-label>de temps à autre</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_20">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_21">
          <mat-label>mieux vaut tard que jamais</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_21">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_22">
            <mat-label>faire des progrès</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_22">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_23">
            <mat-label>faire semblant de</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_23">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_24">
            <mat-label>faire exprès</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_24">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_25">
          <mat-label>envoyer chercher</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_25">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_26">
            <mat-label>apprendre par cœur</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_26">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_27">
            <mat-label>être amoureux de</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_27">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_28">
            <mat-label>exiger</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_28">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_29">
          <mat-label>par exemple</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_29">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_30">
            <mat-label>en tout cas</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_30">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_31">
            <mat-label>enfin de compte</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_31">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_32">
            <mat-label>rendre visite à</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_32">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_33">
          <mat-label>avoir l’occasion de</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_33">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_34">
            <mat-label>malgré cela</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_34">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_35">
            <mat-label>se souvenir de</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_35">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_36">
            <mat-label>sans doute</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_36">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_37">
          <mat-label>au lieu de</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_37">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_38">
            <mat-label>à cause de</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_38">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_39">
            <mat-label>à peu près</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_39">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_40">
            <mat-label>être au courant</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_40">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_41">
          <mat-label>faire la sourde oreille</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_41">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_42">
            <mat-label>l’espérance</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_42">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_43">
            <mat-label>cela m’est égal</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_43">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_44">
            <mat-label>à tout prix</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_44">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_45">
          <mat-label>un cauchemar</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_45">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_46">
            <mat-label>faire la guerre</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_46">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_47">
            <mat-label>effrayer</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_47">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_48">
            <mat-label>à mon gré</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_48">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_49">
          <mat-label>faire la queue</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_49">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_50">
            <mat-label>disponible/libre</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_50">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_51">
            <mat-label>le mensonge/la vérité</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_51">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_52">
            <mat-label>mépriser/détester</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_52">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_53">
          <mat-label>la louange</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_53">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_54">
            <mat-label>épargner</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_54">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_55">
            <mat-label>l’ampleur de la tâche</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_55">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_56">
            <mat-label>un sondage</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_56">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_57">
          <mat-label>un échantillon</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_57">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_58">
            <mat-label>la polémique</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_58">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_59">
            <mat-label>l’enquête</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_59">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_60">
            <mat-label>avoir le cœur gros</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_60">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_61">
          <mat-label>pluvieux</mat-label>
          <input matInput placeholder="your answer"type="text" formControlName="question_61">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_62">
            <mat-label>embouteillage</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_62">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_63">
            <mat-label>à l’époque où nous sommes</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_63">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_64">
            <mat-label>de temps en temps</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_64">
        </mat-form-field>
        <mat-form-field appearance="outline" id="question_65">
            <mat-label>en moyenne</mat-label>
            <input matInput placeholder="your answer"type="text" formControlName="question_65">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()" >Submit</button>
      </form>
    </div>
  </div>
</section>