.goBackBtns:nth-child(2) {
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
ul>li {
  border-bottom: 1px solid rgba(0, 0, 63, 0.76);
}
.testBox {
  padding: 1em;
  color: rgba(0, 0, 63, 0.856);
}
.testBox>.question,
.testBox>.answers {
  display: flex;
  flex-direction: row;
}
.successTest {
  background-color: rgba(31, 238, 31, 0.664);
}
.whiteTest {
  background-color: #ffffff;
}
p {
  margin: 0;
  margin-bottom: 0.33em;
}
.question>p,
.answer>p {
  flex-grow: 1;
  font-style: italic;
}
.question>span {
  flex-grow: 2;
  font-weight: bold;
}
.answer {
  background-color:  rgba(0, 0, 63, 0.6);
  color: #ffffff;
  padding: 0.33em;
  border-radius: 2px;
}
.answer>span {
  display: flex;
  justify-content: space-around;
}
.answers {
  justify-content: space-between;
}