<div class="glSheetArticle fontFamily">
  <div class="goBackBtns">
    <button mat-button (click)="backToLearnersList()">Retour à la list des apprentis.</button>
    <button mat-button (click)="backToLearners()">Retour au tableau de <span>{{learner.name}}</span>.</button>
  </div>
  <section>
    <ul>
      <li *ngFor="let item of test">
        <div [ngClass]="item.correct ? 'testBox successTest' : 'testBox whiteTest'">
          <div class="question">
            <p>Question:</p>
            <span>{{item.question}}</span>
          </div>
          <div class="answers">
              <p>Réponse(s) modèle(s):</p>
              <span>{{item.answers}}</span>
          </div>
          <div class="answer">
            <p>Réponse d'élève:</p>
            <span>{{item.learnerAnswer}}</span>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>