<footer role="contentinfo">
    <hr>
    <div>
      <ul class="footerUl">
        <li>
          <a
          [routerLink]="['/daschboard/learner-list']" 
          routerLinkActive="router-link-active">Teacher</a>
        </li>
        <li>
          <a
            [routerLink]="['/contact']" 
            routerLinkActive="router-link-active"><b>contact</b></a>
        </li>
        <li class="rightsParaf">All rights reserved <span>|</span> pamento &copy; rights 2019</li>
      </ul>
    </div>
  </footer>