.learnerDescriptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.seeLearnerTest {
  text-decoration: none;
  color: #000000;
  line-height: 100%;
  width: 100%;
  padding: 5px;
  box-shadow: 2px 2px 5px #000000;
}
.seeLearnerTest:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px #157c01;
}
.successTest {
  background-color: #33ff33;
}
.dangerTest {
  background-color: #ff3333;
}
.deletlearner {
  color: rgb(230, 1, 1);
  text-align: right;
}
.deletlearner:hover {
  cursor: pointer;
  text-decoration: underline;
}
.bold {
  font-weight: bold;
}
.commentsOfComments {
  border: 1px solid #000000;
  padding: 1em;
}
.commentsForm > * {
  width: 100%;
}
textarea {
  min-height: 200px;
}