<div class="glSheetArticle fontFamily">
  <button mat-button (click)="backToLearnersList()">Retour à la liste des élèves</button>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span class="bold">Elève :</span>&nbsp;
          <span>{{learner.name}},</span>
          <span>{{learner.surname}}</span>
        </mat-panel-title>
        <mat-panel-description>
          Niveau & formule: {{comments || 'A1'}}, {{comments || 'general purpose'}}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="learnerDescriptions">
        <div>
          <p><span>Niveau:</span>&nbsp;<span class="bold">{{comments || 'A1'}}</span></p>
          <p><span>Formule:</span>&nbsp;<span class="bold">{{comments || 'general purposes'}}</span></p>
          <p><span>Nombre de cours:</span>&nbsp;<span class="bold">{{learner.coursesCounter || 0}}</span></p>
          <p><span>Email:</span>&nbsp;<span class="bold">{{learner.email}}</span></p>
        </div>
        <div>
          <table>
            <tr>
              <th colspan="2">test de niveau</th>
              <th></th>
            </tr>
            <tr>
              <td>{{testResult.correctAnswer || 0}} %</td>
              <td>de réponse(s) correcte(s)</td>
              <td></td>
            </tr>
            <tr>
              <td>{{testResult.emptyAnswer || 0 }} %</td>
              <td>de réponse(s) aux proposition(s)</td>
            </tr>
            <tr>
              <td>{{testResult.total || 0 }} %</td>
              <td>de proposition(s) sans réponse(s)</td>
            </tr>
          </table>
        </div>
        <div>
          <p><span class="bold">Test réalisé le :</span></p>
          <p>{{testCreated || "<< test non réalisé >>"}}</p>
          <div>
            <a [ngClass]="learner.test ?
              'seeLearnerTest successTest' :
              'seeLearnerTest dangerTest'"
              [routerLink]="['/daschboard/learner-test']">Voir test de l'apprenti</a>
          </div>
        </div>
      </div>
      <div>
        <p><span class="bold">Observations:</span></p>
        <p class="commentsOfComments">{{comments || 'Pas de commentaires sur cet élève.'}}</p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Commentaires sur l'élève
        </mat-panel-title>
        <mat-panel-description>
          Informations avancées &nbsp; & &nbsp; suivi pédagogique
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Rédaction de commentaires sur l'élève : {{learner.name}} :</p>
      <!--FORM OF COMMENTS-->
      <!--FORM OF COMMENTS-->
      <div>
        <form class="commentsForm" [formGroup]="commentsForm" method="post" role="form">
          <mat-form-field>
            <textarea
              matInput
              type="text"
              placeholder="{{comments.length === 0 ? 'Aucun commentaire sur cet apprenti.' : null }}"
              formControlName="learnerNotes"></textarea>
          </mat-form-field>
          <mat-divider></mat-divider>
          <button mat-raised-button color="primary" (click)="submit()">Mettre à jour</button>
        </form>
      </div>
      <!--FORM OF COMMENTS-->
      <!--FORM OF COMMENTS-->
      <mat-divider></mat-divider>
      <p class="deletlearner" (click)="deleteLearner()">Supprimer l'élève de la liste</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>