<div class="glSheetArticle fontFamily">
  <h2 class="adminClass">It's very nice to have you here, dear Admin !</h2>
  <div class="learnersList">
    <ul>
      <li *ngFor="let learner of learners; let i = index" (click)="showLearner(learner.id)">
        <div class="learnerListItem">
            <p>{{learner.name}}<span>{{learner.username}}</span></p>
            <p>{{learner.createdAd}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>