.adminClass {
  margin-top: 0;
}
ul {
  padding: 0;
  list-style-type: none;
}
ul>li {
  border: 1px solid black;
  background-color: #fde4e4;
  border-radius: 3px;
  box-shadow: 2px 2px 5px #000000;
  margin-bottom: 5px;
  padding: 0 1em;
}
ul>li:hover {
  cursor: pointer;
  box-shadow: 2px 2px 5px #157c01;
}
.learnerListItem>p>span {
  padding: 0.4em;
}
.learnerListItem {
  display: flex;
  justify-content: space-between;
}