<section class="homeBody" role="region">
  <div class="coverBody">
    <app-menu></app-menu>
    <div class="glContainerPage">
      <main></main>
      <article>
        <div class="glSheetArticle fontFamily">
          <h2>Welcome !</h2>
          <p class="text_1">French is spoken in 29 countries as an official language
            and remains one of the most popular languages around the world.
            About 300 million people world wide can speak conversationally
            in French on five continents. Specialists project that in 2050,
            8% of the world's population will be francophone!</p>
          <p class="text_2">
            Are you willing to speak French or to improve it ?
            If so, I will be pleased to support you in your learning !
            This internet site give you free learning tools about French culture and langue.
            It offers you online training according to your objectives, goals, interest and level.
            You may subscribe first, complete a test to assess yourself, choose the course you are interested in. 
            I am convinced that this site will make your journey fruitful, inspiring, and long-lasting !
          </p>
          <h3>« Believe you can and you're halfway there »</h3>
          <p><span><i>Theodore Roosevelt</i></span></p>
          <div>
            <h4>About me</h4>
            <p class="text_3">My name is Valérie Alpanes. I am 36 years old, I am married, passionned by traveling,
              reading and meeting new people. I am very enthousiastic that you are interested in learning French.
              I am an engaged and creative international teacher, passionate about providing hands-on learning experiences,
              triggered by the curiosity of the students. I Integrate the use of technology and embraces multiculturalism,
              diverse learning processes and multiple intelligences. By these ways, learning or improving a new language is very fun !
              I am university graduated with a MA Applied Linguistics, French as a Foreign Language (FLE)
              and as second language and a MA in applied Economics. 
              I have taught French or English in France and abroad, in elementary, secondary,
              high school programs as well as for adults. I speak several languages.
              I will be pleased to know you, encourage you and support you.</p>
          </div>
          <hr />
          <p class="text_4">For more informations or to ask the lesson, please <a class="linkontact"
            [routerLink]="['/contact']" 
            routerLinkActive="router-link-active"><b>contact</b></a> me.</p>
        </div>
      </article>
      <app-home-footer></app-home-footer>
    </div>
  </div>

</section>
