/*
Some style come from global styleSheets file. styles.css like .sheetArticle class.
*/
.mainSection {
  background-image: url('/assets/images/Cooking-session-with-Gr-5.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mat-button {
  background: rgba(253, 253, 240, 0.9);

  padding: 0 8px;
  min-width: 0;
  border: 1px solid black;
}
.learnersList>ul>li>h3 {
  border: 1px soid black;
  border-radius: 4px;
}
.learnersList>ul>li>h3:hover {
  cursor: pointer;
}
.clockTab {
  margin: 1em;
  position: absolute;
}
.clock{
  text-align:center;
  width:auto;
  height:auto;
  padding: 0.5em;
}