<section class="mainSection" role="region">
  <div class="clockTab">
    <button mat-button (click)="goHomePage()">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <div class="glContainerPage">
    <router-outlet></router-outlet>
  </div>
</section>