<section class="mainSection" role="region">
	<app-menu-internal></app-menu-internal>
	<div class="glContainerPage">
		<div class="glSheetArticle " id="howorks">
			<div>
				<p>My courses are based on interactive lessons so that the approach is lively and communicative,
					prioritising interaction and conversation help you progress according
					to their level, needs, expectations and interest.</p>
				<p>I offer to different courses, designed according to the Common European Framework of Reference for Languages<br>
					<a href="https://www.coe.int/en/web/portfolio/the-common-european-framework-of-reference-for-languages-learning-teaching-assessment-cefr-"
					target="_blank"
					>The common european framework of reference for languages learning teaching assessment cefr</a><br>
					It defines six common reference levels (A1, A2, B1, B2, C1, C2),
					using “can do” descriptors to define the learner/user’s proficiency at each level.
					<h4>Read below more about :</h4>
			</div>
			<mat-tab-group>
				<mat-tab label="French with general purpose course ">
					<h3>French with general purpose course</h3>
					<p>
						French with general purpose course :<br>
						It is designed for any learner. It enable students to develop language within meaningful and enjoyable contexts,
						students are able to make connections, apply their learning, and transfer their conceptual understanding to new
						situations.
						Having a knowledge of French will be very usefull for traveling, have an alternative view of the world, have
						pleasure of learning a beautiful,
						rich, melodious language French is the international language of cooking, fashion, theatre, the visual arts,
						dance and architecture.
					</p>
				</mat-tab>
				<mat-tab label="French with specific purpose course">
					<h3>French with specific purpose course</h3>
					<p>French with specific purpose course :<br>
						It is very recommeded to professional or a student interested with specific field :
						Business French, French for medicine, administration, tourism and law.
						The knowledge of French opens the doors of French companies in France and other French-speaking parts of the
						world.
						French universities and business schools, ranked among the top higher education institutions in Europe and the
						world.
						It is a working language and an official language of international institutions such as UNESCO, NATO…
					</p>
					<p>You may need this course for the folowing exams :</p>
					<ul>
						<li>
							<h4>the TCF:</h4>
							<p>Test de Connaissance du Français/Test of knowledge of the French language :
								Valid for two years, it evaluates oral and written comprehension,
								and command of the working language. With this diploma,
								it is possible to enter at a French university at the Masters or Doctorate level,
								or you can also obtain work. Here is a glance at the TCF of last november 2018 session :</p>
							<p><a href="https://savoirs.rfi.fr/en/apprendre-enseigner/langue-francaise/tcf-session-de-novembre-2018/1"
								target="_blank">TCF	session de novembre 2018</a></p>
						</li>
						<li>
							<h4>the DELF:</h4>
							<p>Diplôme d’Études en Langue Française/Accreditation of French language ability;</p>
						</li>
						<li>
							<h4>the DALF:</h4>
							<p>Diplôme Approfondi en Langue Française/Advanced certificate of French language proficiency.
								The DELF/DALF are French proficiency certifications for non-native speakers of French
								awarded by the French Ministry of Education to certify the competency in the French language.
								They evaluate oral and written comprehension, oral and written production;
								they are valid for life and are recognized throughout the whole world.
								It consists of six independent certificates (DELF A1, DELF A2, DELF B1, DELF B2, DALF C1, DALF C2)
								corresponding to the six levels of the Common European Framework for Languages.</p>
							<p>Here is some more information about these exams :
								<p><a href="http://www.ciep.fr/en/delf-tout-public/detailed-information-the-examinations"
									target="_blank">detailed information the examinations</a></p>
								<p><a href="http://www.ciep.fr/en/dalf" target="_blank">dalf</a></p>
						</li>
					</ul>
				</mat-tab>

			</mat-tab-group>
			<div>
				<p>If your are willing to have one of these two french courses offer,
					you should first do the free test (test link).
					I will correct it and evalue your level (A1, A2, B1, B2, C1, C2).
					I will communicate with you and define with your the training objectives as well
					as designing a curriculum and the teaching sequiences tailored to the training needs.
					Depending of your objectives, I with use authentic documents and oral conversation in specific
					situation settings, adapted specifically to the specialties of the learners
					I will monitore your progress throughout the training.
					In the meantime, I will give you ccess to specific resources online.</p>
			</div>
		</div>
	</div>
</section>