<header role="banner">
  <nav role="navigation" aria-label="Main navigation">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/frenchCourses" routerLinkActive="active">Courses</a></li>
      <li><a routerLink="/resources" routerLinkActive="active">Resources</a></li>
      <li><a routerLink="/news" routerLinkActive="active">News</a></li>
      <li><a routerLink="/faq" routerLinkActive="active">FAQ</a></li>
      <li class="secondLevelUp">
        <a *ngIf="!isLoggedIn" routerLink="/login/login-form" routerLinkActive="active">Log in</a>
        <a *ngIf="isLoggedIn" routerLink="" routerLinkActive="active" (click)="logout()" >Log out</a>
      </li>
      <li class="linkontact">
        <a *ngIf="!isLoggedIn" routerLink="/login/signup-form" routerLinkActive="active">Register</a>
        <a *ngIf="isAdmin" routerLink="/daschboard/learner-list" routerLinkActive="active">Admin</a>
        <a *ngIf="isLearner" routerLink="/my-profile" routerLinkActive="active">my Profile</a>
      </li>
    </ul>
  </nav>
</header>