/*
Some style come from global styleSheets file. styles.css like .sheetArticle class.
*/
.mainSection {
  background-image: url('/assets/images/Cooking-session-with-Gr-5.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fontFamily {
  font-family: 'American Typewriter', serif;
}
.fontFamily:last-of-type {
  margin-bottom: 7em;
}
.singlQuestion {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  background: wheat;
  padding: 0.8em 1.6em;
  margin-bottom: 1em;
}
.questions {
  background-color: rgba(253, 253, 240, 0.9);
  border: 1px solid;
  padding: 0.8em 1.6em;
  margin-bottom: 1em;
}
.questions > ol > li > p {
  margin: 0;
}
.q_N {
  font-weight: bold;
  margin-right: 1em;
}
.qAncor {
  text-decoration: none;
  color: black;
}
.qAncor:hover {
  cursor: pointer;
  text-decoration: underline;
}
.btnQA {
  padding: 0.4em;
  align-self: flex-end;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}
.btnQA:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px #191919;
}
ol {
  font-weight: bold;
}
ul {
  list-style-type: none;
  padding-left: 0;
}