<section class="mainSection" role="region">
  <app-menu-internal></app-menu-internal>
  <div class="glContainerPage">
    <div class="glSheetArticle fontFamily">
      <h1>Frequently Answered Questions</h1>
      <div class="questions" id="questions">
        <ol>
          <li>
            <p><a class="qAncor" (click)="scrollToElement('Q_1')">How do I register for one of your course programmes ?</a></p>
          </li>
          <li>
            <p><a class="qAncor" (click)="scrollToElement('Q_2')">Can I register without sitting the test ?</a></p>
          </li>
          <li>
            <p><a class="qAncor" (click)="scrollToElement('Q_3')">How can I pay for my French courses ?</a></p>
          </li>
          <li>
            <p><a class="qAncor" (click)="scrollToElement('Q_4')">When can I start my French classes ?</a></p>
          </li>
          <li>
            <p><a class="qAncor" (click)="scrollToElement('Q_5')">How long does it take to move from one level to
                another?</a></p>
          </li>
          <li>
            <p><a class="qAncor" (click)="scrollToElement('Q_6')">Will I need to use a manual ?</a></p>
          </li>
          <li>
            <p><a class="qAncor" (click)="scrollToElement('Q_7')">What happen if you would like to interrupt your
                training for a few weeks without losing my courses ?</a></p>
          </li>
          <li>
            <p><a class="qAncor" (click)="scrollToElement('Q_8')">What happen if you need to interrupt my classes even
                though you have already paid for them ?</a></p>
          </li>
        </ol>
      </div>
      <ul id="faq_ul_list">
        <li id="Q_1" class="singlQuestion">
          <h4><span class="q_N">1.</span>How do I register for one of your course programmes ?</h4>
          <p>You'll need to provide us with:</p>
          <ul>
            <li>1 passport photo (2cm/2cm)</li>
            <li>1 photocopy of your passport, visa or residence permit</li>
            <li>Pay your tuition fees and registration fees</li>
          </ul>
          <p>You'll also take a test to assess your level of proficiency in French (for free).</p>
          <p class="btnQA"><a (click)="scrollToElement('questions')">Back up to list</a></p>
        </li>
        <li id="Q_2" class="singlQuestion">
          <h4><span class="q_N">2.</span>Can I register without sitting the test ?</h4>
          <p>No. Not unless you are a complete beginner*.
            The vocabulary test will lead me to assess your ability level as well as a conversation.
            After, I will propose a course suited to your linguistic requirements.
            (*) You are a beginner if you have never studied French or if you have no knowledge
            of the French language (you only know a few words and a maximum of 2 or 3 phrases).</p>
          <p class="btnQA"><a (click)="scrollToElement('questions')">Back up to list</a></p>
        </li>
        <li id="Q_3" class="singlQuestion">
          <h4><span class="q_N">3.</span>How can I pay for my French courses ?</h4>
          <p>On-site: by bankcard, in cash or by cheque</p>
          <p>Online: by bank card via our secure payment site</p>
          <p>I would like to pay the pre-registration fee by bank transfer. Can you give me your bank details?</p>
          <p>our bank details will be sent by mail after your preregistration file will be validated.</p>
          <p>PLEASE NOTE: all bank charges are at your cost.</p>
          <p class="btnQA"><a (click)="scrollToElement('questions')">Back up to list</a></p>
        </li>
        <li id="Q_4" class="singlQuestion">
          <h4><span class="q_N">4.</span>When can I start my French classes ?</h4>
          <p>You can start your French classes at any time of the year.</p>
          <p class="btnQA"><a (click)="scrollToElement('questions')">Back up to list</a></p>
        </li>
        <li id="Q_5" class="singlQuestion">
          <h4><span class="q_N">5.</span>How long does it take to move from one level to another?</h4>
          <p>It all depends on how hard you work, how much personal work you put in and to what extent you use French
            on a daily basis.
            The length of the ability levels is variable. The higher the level, the longer it is.
            For example: level A1 lasts approximately 80H, while level B1 lasts approximately 150H.</p>
          <p class="btnQA"><a (click)="scrollToElement('questions')">Back up to list</a></p>
        </li>
        <li id="Q_6" class="singlQuestion">
          <h4><span class="q_N">6.</span>Will I need to use a manual ?</h4>
          <p>I will transfer you all the book extracts and learning tools.</p>
          <p class="btnQA"><a (click)="scrollToElement('questions')">Back up to list</a></p>
        </li>
        <li id="Q_7" class="singlQuestion">
          <h4><span class="q_N">7.</span>What happen if you would like to interrupt your training for a few weeks
            without losing my courses ?</h4>
          <p>It will be possible. We whould have a conversation about it.</p>
          <p class="btnQA"><a (click)="scrollToElement('questions')">Back up to list</a></p>
        </li>
        <li id="Q_8" class="singlQuestion">
          <h4><span class="q_N">8.</span>What happen if you need to interrupt my classes even though you have already
            paid for them ?</h4>
          <p>You can request to postpone all your course.</p>
          <p class="btnQA"><a (click)="scrollToElement('questions')">Back up to list</a></p>
        </li>
      </ul>
    </div>
  </div>
</section>