/* You can add global styles to this file, and also import other style files */
/* https://stackoverflow.com/questions/50309352/override-style-of-first-div-of-mat-form-field */
/*
BASE OF THE COLORS:
https://color.adobe.com/fr/create
*/
.colorsClass {
  color: #000033;
  background: #7D7D99;
  background-color: #6BB9FF;
  border: #FFD4AB;
  box-shadow: #CC7041;
}
/* @font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 *//*
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
} */
/*
@font-face -'lato'
*/
@font-face {
  font-family: 'lato';
  src: url('./assets/fonts/Lato/fonts/Lato-Regular.eot');
  src: url('./assets/fonts/Lato/fonts/Lato-Regular.woff2') format('woff2'),
       url('./assets/fonts/Lato/fonts/Lato-Regular.woff') format('woff'),
       url('./assets/fonts/Lato/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato-bold';
  src: url('./assets/fonts/Lato/fonts/Lato-Bold.eot');
  src: url('./assets/fonts/Lato/fonts/Lato-Bold.woff2') format('woff2'),
       url('./assets/fonts/Lato/fonts/Lato-Bold.woff') format('woff'),
       url('./assets/fonts/Lato/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{ 
	font-family: 'caligraf';
	src: url('./assets/fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.eot');
	src: url('./assets/fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.eot?iefix') format('eot'),
	     url('./assets/fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.woff') format('woff'),
	     url('./assets/fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.ttf') format('truetype'),
	     url('./assets/fonts/calligraffiti_regular_macroman/Calligraffiti-webfont.svg#webfont') format('svg');
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  /* font-family: 'lato', 'Helvetica', 'Arial', sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.glContainerPage {
  width: 100%;
  height: 99%;
  overflow: scroll;
	scroll-behavior: smooth;
}
.glBodyPage {
  overflow: scroll;
}
.glSheetArticle {
  width: 70%;
  background-color: rgba(253, 253, 240, 0.8);
  /* background-color: rgba(245, 245, 220, 0.7); */
  border-radius: 2px;
  box-shadow: 3px 3px 4px #020202;
  margin: 0 auto 2.5em;
  padding: 2em;
}
.glSheetArticle:first-child {
	margin-top: 2.5em;
}
.bgr-blck {
  background-color: black;
}
img {
  display: block;
}
