/*
Some style come from global styleSheets file. styles.css like .sheetArticle class.
*/
.mainSection {
  background-image: url('/assets/images/Cooking-session-with-Gr-5.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.mat-button {
  background: rgba(253, 253, 240, 0.9);

  padding: 0 8px;
  min-width: 0;
  border: 1px solid black;
}
.clockTab {
  margin: 1em;
  position: absolute;
}
.clock{
  text-align:center;
  width:auto;
  height:auto;
  padding: 0.5em;
}
h1 {
  text-align: center;
}
h1>span {
  font-style: italic;
  font-weight: bold;
}
p {
  margin: 0;
}
.flexBoxRow {
  display: flex;
  flex-direction: row;
}
.flexBox {
  display: flex;
  flex-direction: column;
  padding: 0 0.33em;
}
._1 {
  align-items: flex-end;
}
._2 {
  align-items: flex-start;
}
.flexBox>span {
  font-weight: bold;
}
.deletlearner {
  color: rgb(230, 1, 1);
  text-align: right;
}
.deletlearner:hover {
  cursor: pointer;
  text-decoration: underline;
}
.btnTest {
  padding: 0.5em 1em;
  border-radius: 25px;
  background-color: orange;
  color: #00001a;
  font-style: italic;
  box-shadow: 1px 1px 3px #00001a;
  font-family: 'lato';
  font-size: 1em;
}
.btnTest:hover {
  box-shadow: 1px 1px #00001a;
}
.thanks {
  font-weight: bold;
  font-family: 'caligraf','lato','Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: end;
}