<section class="mainSection" role="region">
  <div class="clockTab">
    <button mat-button (click)="goHomePage()">
      <mat-icon>home</mat-icon>
    </button>
  </div>
  <div class="glContainerPage">
    <div class="glSheetArticle fontFamily">
      <div>
        <div>
          <div>
            <h1>Welcome dear <span>{{learner.name}}</span><wbr> on your profile page !</h1>
            <div *ngIf="!test">
              <hr>
              <p>Please, complete this
                &nbsp;<button class="btnTest" (click)="goToTest()">short test</button>&nbsp;
                which will be helpfull to guide you in your learning.</p>
              <p class="thanks">Thank You so much!</p>
            </div>
            <hr>
            <div class="flexBoxRow">
              <div class="flexBox _1">
                <p>Name :</p>
                <p>Email :</p>
                <p>Member from :</p>
              </div>
              <div class="flexBox _2">
                <span>{{learner.name}} </span>
                <span>{{learner.email}} </span>
                <span>{{inscriptDate}}</span>
              </div>
            </div>
          </div>
          <hr>
          <div>
            <p class="deletlearner" (click)="deleteLearner()">Delete my account</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>